.pytest_cache
__pycache__
*.omlmd.json
*.omlmd.yaml
*.joblib
*.gguf
tmp
efi-variable-store
*.onnx
e2e/model-registry/config/ml-metadata/metadata.sqlite.db

# Generated python library wheels
dist

# Mkdocs
site

# E2E
venv
temp
